*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-grey: #1b1b32;
  --light-grey: #f5f6f7;
  --black: #000;
  --white: #fff;
  --gray: #3b3b4f;
  --golden-yellow: #fecc4c;
  --yellow: #ffcc4c;
  --gold: #feac32;
  --orange: #ffac33;
  --dark-orange: #f89808;
}
body {
  background-color: var(--dark-grey);
  /* color: var(--light-grey); */
}
#title {
  color: var(--light-grey);
  text-align: center;
  margin: 25px 0;
}
#dessert-cart-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.dessert-cart {
  background-color: var(--light-grey);
  padding: 15px;
  text-align: center;
  margin: 20px 10px;
  border-radius: 15px;
}
.dessert-price {
  font-size: 1.2rem;
}

.btn {
  display: block;
  width: 100px;
  color: var(--dark-grey);
  cursor: pointer;
  background-color: var(--gold);
  background-image: linear-gradient(var(--golden-yellow), var(--orange));
  border-color: var(--gold);
  border-width: 3px;
}

.btn:hover {
  background-image: linear-gradient(var(--yellow), var(--dark-orange));
}

#cart-btn {
  position: absolute;
  top: 0;
  right: 0;
}

.add-to-cart-btn {
  margin: 30px auto 10px;
}

#cart-container {
  position: absolute;
  top: 30px;
  right: 0;
  background-color: var(--light-grey);
  /* height: 200px; */
  width: 200px;
  border: 8px double var(--dark-grey);
  border-radius: 15px;
  overflow-y: scroll;
  text-align: center;
  font-size: 1.2rem;
  display: none;
}

/* #clear-cart-btn {
  float: right;
  clear: both;
} */

.product {
  margin: 25px 0;
}
.product-count {
  display: inline-block;
  margin-right: 10px;
}
.product-category {
  margin: 10px 0;
}
.sum-section {
  border-top: 4px dotted var(--dark-grey);
  padding: 10px;
}

@media (min-width: 768px) {
  #dessert-cart-container {
    flex-direction: row;
  }
  .dessert-cart {
    flex: 1 0 21%;
  }
  .cart-container {
    width: 300px;
  }
}
